.sidebar{
    height:calc(100vh - 90.6px); 
    display:flex; 
    flex-direction:column; 
    justify-content: flex-end;
    /* border:1px solid red;  */
    width:fit-content;
    padding:0px 18px;
}

.sidebar-links{
    margin-bottom:24px;
}

.sidebar-links li{
    margin-bottom:18px;
}