.upcoming-events-heading{
    background:white;
    color:black; 
    margin:32px 0px;
    display:grid; 
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding:0px 48px;
    column-gap:24px;

}



.upcoming-events-heading button{
    border-radius:50%;
    padding:12px 8px;
    border:3px solid #b3cefb;
    color:#b3cefb;
    background:white;
    margin-bottom:8px;

}

.upcoming-events-heading h1{
    font-weight:600;
    font-size:64px;
    grid-column:2/3;
    grid-row:1 /span 3; 
    text-align:right;
}

.upcoming-events-heading div:first-child{
    border-bottom:1px solid #262626;
}

.images{
    display:flex; 

}

.event-hero{
    height: calc(100vh - (56px + 29.6px));
}

.hero-content{
    display:flex; 
    gap:72px;
    padding:48px;


}

.upcoming-event-details h1{
    font-size:42px;
    font-weight:600;
    border-bottom:2px solid #b3cefb;
    width:fit-content;
}

.upcoming-event-details ul{
    padding-top:24px;
    display:flex; 
    gap:12px;
    font-size:48px;
}

.event-desc{
    padding-top:32px;
    font-weight:600;
    font-size:1.2rem;
}

.image-frame{
    height:320px;
    width:600px;
    border-radius:8px;
}

.images img{
    width:100%;
    height:100%;
}

.agenda-section{
    padding: 72px;
    background:#262626;
    color:white;
    display:flex;
    justify-content: center;
}

.agenda-wrapper{
    display:grid; 
    width:100%;
    grid-template-columns: 1fr 1fr;
    margin-bottom:64px;

}

.agenda-events{
    font-size:18px;
}

.agenda-section h1{
    font-size:42px;
}

.agenda-dates{
    display:flex; 
    gap:48px;
    margin-bottom:72px;
    color:#717171;
}

.agenda-dates span{
    padding:0px 12px;
    line-height:1.7;
}

.agenda-event-details{
    display:flex; 
    gap:24px;
}

.agenda-dates span:target{
    border-bottom:4px solid #4285F4;
    color:white;
}

.agenda-event-details ul{
    list-style-type:disc;
}

.agenda-event-details li{
    padding-bottom:4px;
}

.event-registration{
    background:#4285F4;
    padding:84px;
    display:flex; 
    gap:84px;
    justify-content:center;
    color:white;
    font-size:20px;
}

.event-registration-image{
    height:300px;
}

.event-registration-details{
    width:45%;
}

.event-registration-details h2{
    font-weight:600;
    margin-bottom:24px;
}

.event-registration-buttons button{
    background:white;
    color:black; 
    border:none; 
    margin-right:32px;
    padding:12px 24px;
    border-radius:50px;
    font-size:1rem;
}

.event-registration-buttons{
    display:flex; 
}

.er-button{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:8px;
}

.er-button:last-child{
    text-decoration:underline;
    position:relative; 
}

.location-icon{
    position:absolute; 
    left:32px;
}