.navbar{
    display:flex; 
    padding:28px; 
    justify-content: space-between;
    border-bottom:1px solid #d9e7fd;
}

.navbar-links{
    display:flex; 
    gap:28px;
    font-size:1.15rem;
}

.navbar-links a{
    text-decoration:none; 
    color:black; 
}

a.active{
    color: #4285F4;
    text-decoration: underline #4285F4;
    text-underline-offset: 4px;
    cursor: pointer;
}