.navbar{
    display:flex; 
    padding:28px; 
    justify-content: space-between;
    /* border:1px solid red;  */
}

.navbar-links{
    display:flex; 
    gap:28px;
    font-size:1.15rem;
}

.navbar-links li:hover{
    color:#4285F4;
    text-decoration: underline #4285F4;
    text-underline-offset: 4px;
    cursor:pointer;
}